// RWD BreakPoints
$screen-sm-min: 500px;
$screen-md-min: 800px;

//Backgrounds Colours
$header--background: #424413;
$smallBox--background: #4f9fac;
$bigBox--background: #489f17;
$articleBox--background: #952635;
$footer-background: #afb700;

//Font Colours
$main-font: #fff;